<%= title %>
<div class="breadcrumb">
    <%- breadcrumb %>
</div>
<div class="container">
    <ul>
        <%- articleNav %>
    </ul>
    <div class="content">
        <%- content %>
    </div>
</div>
    