<!DOCTYPE html>
<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/build/css/razorflow.css" />
    <link rel="stylesheet" href="/assets/vendor/css/font-awesome.min.css" />
    <script type="text/javascript" src="/build/js/templates.js"></script>
    <!--[if lte IE 9]>
        <script type="text/javascript" src="/assets/vendor/js/jquery.min.js"></script>
    <![endif]-->
    <% if(build) { %>
        <script type="text/javascript" src="/build/js/razorflow.min.js"></script>    
    <% }  else { %>
        <script type="text/javascript" src="/assets/vendor/js/require.min.js"></script>
        <script type="text/javascript" src="/assets/dev/requireConfig.js"></script>
        <script type="text/javascript">
            require.config(window.browserConfig);
        </script>
    <% } %>
    

</head>
<body>
<div id="dbTarget" style='position: relative;' class='rf rf-click rf-lg'>
</div>
<script>
    <% if(!build) { %> 
        require(["core/main"], function (rf) {    
            <%- file %>
        });
    <% }  else { %>
        <%- file %>
    <% } %>
</script>
</body>
</html>
    
