<!DOCTYPE html>
<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/build/css/razorflow.css" />
    <script type="text/javascript" src="/build/js/templates.js"></script>
        <% for(var i=-1; ++i<vendorScripts.length;) { %>
            <script type="text/javascript" src="/assets/vendor/js/<%=vendorScripts[i]%>"></script>
        <% } %>
    <script type="text/javascript">
        require.config({
            baseUrl: '/assets/js'
        });
        require(["core/main"], function (rf) {
            StandaloneDashboard(function (db) {
                db.setDashboardTitle('KPI Types Supported in RazorFlow');

                // var c1 = new KPIComponent();
                // c1.setDimensions(3, 3);
                // c1.setCaption({md: 'Average Monthly Sales', sm: "Sales"});
                // c1.setValue(513.22);
                // db.addComponent(c1);

                // var c2 = new GaugeComponent();
                // c2.setDimensions(3, 3);
                // c2.setCaption('Average Monthly Cost');
                // c2.setValue(45);
                // c2.setLimits(0, 100);

                // db.addComponent(c2);


                // var c3 = new TableComponent ();
                // c3.setDimensions (6, 6);
                // c3.setRowsPerPage('10');
                // c3.setCaption ("table component");
                // c3.addColumn ("a", "Column A");
                // c3.addColumn ("b", "Column B");

                // for(var i = 0; i < 25; i++) {
                //     c3.addRow ({a: 2 * i, b: 2 * i + 1});
                // }
                // db.addComponent(c3);

                // var c4 = new ChartComponent();
                // c4.setDimensions(12, 6);
                // c4.setCaption('New Chart');
                // c4.setCaption('Yearly Sales for Top 5 Genres');
                // c4.setLabels(['2007', '2008', '2009', '2010', '2011']);
                // c4.addSeries('rock', 'Rock', [178.20, 155.43, 161.37, 157.41, 174.24], {seriesDisplayType: 'pie', numberPrefix: "$"});
                // c4.addSeries('latin', 'Latin', [82.17, 77.22, 80.19, 63.36, 79.20], {numberPrefix: "$"});
                // c4.addSeries('metal', 'Metal', [61.38, 53.46, 30.69, 80.39, 44.45], {numberPrefix: "$"});
                // c4.addSeries('blues', 'Blues', [62.37, 59.60, 45.54, 38.61, 5.94], {numberPrefix: "$"});
                // c4.addSeries('jazz', 'Jazz', [174.24, 79.20, 55.45, 55.44, 21.78], {numberPrefix: "$"});
                // c4.setYAxis('hello', {numberPrefix: '$'});
                // db.addComponent(c4);
                
                var json = '{"components":[{"props":{"core":{"caption":"Average Monthly Sales","absolutePosition":false,"dimensions":{"w":null,"h":null},"isChild":false,"location":{"x":0,"y":0,"w":3,"h":3},"zoomable":true},"events":[],"children":[],"data":{},"kpi":{"display":{"dataType":"number","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":null,"numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"value":513.22,"indicator":null,"indicatorColor":"green","caption":"","subcaption":"","target":null,"gaugeType":"circular","gaugeFlag":false,"sparkFlag":false,"ranges":[],"maximum":null,"minimum":null,"type":null}}},"data":[],"type":"KPIComponent"},{"props":{"core":{"caption":"Average Monthly Cost","absolutePosition":false,"dimensions":{"w":null,"h":null},"isChild":false,"location":{"x":0,"y":0,"w":3,"h":3},"zoomable":true},"events":[],"children":[],"data":{},"kpi":{"display":{"dataType":"number","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":null,"numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"value":45,"indicator":null,"indicatorColor":"green","caption":"","subcaption":"","target":null,"gaugeType":"circular","gaugeFlag":true,"sparkFlag":false,"ranges":[],"maximum":100,"minimum":0,"type":null}}},"data":[],"type":"GaugeComponent"},{"props":{"core":{"caption":"table component","absolutePosition":false,"dimensions":{"w":null,"h":null},"isChild":false,"location":{"x":0,"y":0,"w":6,"h":6},"zoomable":true},"events":[],"children":[],"data":{"rowDataSource":{"url":null}},"table":{"columns":{"a":{"dataType":"auto","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":null,"numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"name":"","columnType":"text","sortable":false,"sortActiveFlag":false,"sortDirection":"descending","cellWidth":null,"hideColumnOnSmallDevices":false},"b":{"dataType":"auto","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":null,"numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"name":"","columnType":"text","sortable":false,"sortActiveFlag":false,"sortDirection":"descending","cellWidth":null,"hideColumnOnSmallDevices":false}},"rowsPerPage":10,"currentPageNumber":0,"serverPaginationFlag":false,"useRemoteDataSourceFlag":false,"detailViewFlag":false}},"data":[{"a":0,"b":1},{"a":2,"b":3},{"a":4,"b":5},{"a":6,"b":7},{"a":8,"b":9},{"a":10,"b":11},{"a":12,"b":13},{"a":14,"b":15},{"a":16,"b":17},{"a":18,"b":19},{"a":20,"b":21},{"a":22,"b":23},{"a":24,"b":25},{"a":26,"b":27},{"a":28,"b":29},{"a":30,"b":31},{"a":32,"b":33},{"a":34,"b":35},{"a":36,"b":37},{"a":38,"b":39},{"a":40,"b":41},{"a":42,"b":43},{"a":44,"b":45},{"a":46,"b":47},{"a":48,"b":49}],"type":"TableComponent"},{"props":{"core":{"caption":"Yearly Sales for Top 5 Genres","absolutePosition":false,"dimensions":{"w":null,"h":null},"isChild":false,"location":{"x":0,"y":0,"w":12,"h":6},"zoomable":true},"events":[],"children":[],"data":{},"chart":{"series":{"rock":{"dataType":"number","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":"$","numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"seriesName":"Rock","seriesDisplayType":"pie","seriesColor":"auto","seriesHiddenFlag":false,"includeInLegendFlag":true},"latin":{"dataType":"number","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":"$","numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"seriesName":"Latin","seriesDisplayType":"column","seriesColor":"auto","seriesHiddenFlag":false,"includeInLegendFlag":true},"metal":{"dataType":"number","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":"$","numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"seriesName":"Metal","seriesDisplayType":"column","seriesColor":"auto","seriesHiddenFlag":false,"includeInLegendFlag":true},"blues":{"dataType":"number","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":"$","numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"seriesName":"Blues","seriesDisplayType":"column","seriesColor":"auto","seriesHiddenFlag":false,"includeInLegendFlag":true},"jazz":{"dataType":"number","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":"$","numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"seriesName":"Jazz","seriesDisplayType":"column","seriesColor":"auto","seriesHiddenFlag":false,"includeInLegendFlag":true}},"yaxis":{"dataType":"number","numberFormatFlag":true,"numberHumanize":false,"numberPrefix":"$","numberSuffix":null,"numberThousandsSeparator":",","numberDecimalsSeparator":".","numberForceDecimals":false,"numberDecimalPoints":2,"axisName":"hello","minValue":null,"maxValue":null,"adaptiveMinimumValueFlag":false},"showLegendFlag":true}},"data":[{"rfLabels":"2007","rock":178.2,"latin":82.17,"metal":61.38,"blues":62.37,"jazz":174.24},{"rfLabels":"2008","rock":155.43,"latin":77.22,"metal":53.46,"blues":59.6,"jazz":79.2},{"rfLabels":"2009","rock":161.37,"latin":80.19,"metal":30.69,"blues":45.54,"jazz":55.45},{"rfLabels":"2010","rock":157.41,"latin":63.36,"metal":80.39,"blues":38.61,"jazz":55.44},{"rfLabels":"2011","rock":174.24,"latin":79.2,"metal":44.45,"blues":5.94,"jazz":21.78}],"type":"ChartComponent"}]}';

                db.pro._buildFromObject(JSON.parse(json));

                // var filter = new FilterComponent();
                // filter.setDimensions(6,6);
                // filter.setCaption('A test filter component');
                // filter.addTextFilter('name', 'Enter your name');
                // filter.addSelectFilter('category', 'Enter your category', ['Dragon', 'Horse', 'Cat', 'Dog', 'Human']);
                // filter.addMultiSelectFilter('multi', 'Enter your category', ['Dragon', 'Horse', 'Cat', 'Dog', 'Human']);
                // filter.addDateFilter('delivery', 'Delivery Date');
                // filter.addDateRangeFilter('daterange', 'Delivery Range');
                // filter.addNumericRangeFilter('unitrange', 'Units Range');
                // filter.addCheckboxFilter('truthtest', 'Did you take this form seriously?');
                // filter.onApplyClicked(function(obj) {
                //     debugger
                // });
                // db.addComponent(filter);
//                 setTimeout(function () {
//                     c1.setValue(55);
//                     c1.unlock();
//                     // c3.clearRows();
// //                    c3.addRow ({a: 5, b: 6});
//                 }, 1500);
//                 
//                 

                // console.log(JSON.stringify(db.pro._serializeComponents()));
            });
        });
    </script>

</head>
<body>
<div id="dbTarget" style='position: relative;width: 80%' class='rf rf-click rf-lg'>
</div>
</body>
</html>
