<!doctype html>
<html>
    <head>
    </head>
    <body>
    <% for (var key in indexedSamples) { 
        var items = indexedSamples[key]; %>
        <h3><%= key %></h3>
        <% for(var i=0; i<items.length; i++) { %>
          <li>
            <a href="/dev/<%= items[i] %>"><%= items[i] %></a>
          </li>
        <% } %>
    <% } %>
    </body>
</html>