<!doctype html>
<html>
    <head>
    </head>
    <body>
    <h3>Demos</h3>
    <ul>
        <% for(var i=0; i<demos.length; i++) { %>
          <li>
            <a href="/demos/<%= demos[i] %>"><%=demos[i]%></a>
          </li>
        <% } %>
      
    </ul>
    <h3>Testcases</h3>
    <ul>
        <% for(var i=0; i<testcases.length; i++) { %>
          <li>
            <a href="/testcases/<%= testcases[i] %>"><%=testcases[i]%></a>
          </li>
        <% } %>
      
    </ul>
    </body>
</html>