<!DOCTYPE html>
<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>
<body>
<div id="dbTarget" style='position: relative;width: 80%' class='rf rf-click rf-lg'>
</div>
<h3>Testcases</h3>
<ul>
    <% for(var i=0; i<files.length; i++) { %>
        <li><a href="/testcases/<%= files[i] %>"><%=files[i]%></a></li>
    <% } %>
</ul>
</body>
</html>
    
