<!DOCTYPE HTML>
<html>
<head>
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.0</title>

  <link rel="stylesheet" type="text/css" href="/static/jasmine/jasmine.css">

  <script type="text/javascript" src="/static/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/static/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="/static/jasmine/boot.js"></script>

{{ include('dev/jsIncludes.twig') }}
<script>
    require(["core/main"], function (rf) {    
        window.jasmineBoot ();
        {{ file_contents|raw }}
        window.jasmineExecute();
    });
</script>
</head>

<body>
</body>
</html>
