<div class="row">
<div class="col-md-7">
  <pre style="height:270px; overflow:auto;"><code><%- code %></code></pre>
</div>
<div class="thumbnail col-md-5">
  <img src="<%- image %>">
  <span class="thumbnail-cover">
      <a href="<%- image %>" target="_blank" class="article-nav-button big">Enlarge</a>
  </span>
</div>
<div class="demo-button">
    <a href="<%= live %>" target="_blank" class="btn btn-primary btn-small" role="button">Live Demo</a>
</div>
</div>
<p></p>


