<div class='row'>
  <div class='col-md-7'>
    <pre><code><%- code %></code></pre>
  </div>
  <div class='col-md-5'>
    <div class="thumbnail">
      <img src="<%- image %>">
    </div>
    <p><a href="<%= live %>" target="_blank" class="btn btn-primary" role="button">View Live</a> <a href="<%- image %>" class="btn btn-default" target="_blank" role="button">Zoom</a></p>
  </div>
</div>