{% import "macros.twig" as macros %}
<!DOCTYPE html>
<html>
<head>
	<title>RF Examples</title>
</head>
<body>
<h1>JavaScript</h1>
<h2>Demos</h2>
{{ macros.prodExampleList (examples, 'js', 'demos') }}
<h2>Examples</h2>
{{ macros.prodExampleList (examples, 'js', 'examples') }}
</body>
</html>
