<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/rf/css/razorflow.min.css" />
    <script type="text/javascript" src="/static/rf/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/rf/js/razorflow.min.js"></script>
    <script type="text/javascript" src="/static/rf/js/razorflow.devtools.min.js"></script>
</head>
<body>
<div id="dbTarget" style='position: relative;' class='rf rf-click rf-lg'>
</div>
<script type="text/javascript" src="/src/js/{{ type }}/{{ id }}.js"></script>
</body>
</html>
    
