<!doctype html>
<html>
    <head>

        <% for(var i=-1; ++i<vendorScripts.length;) { %>
            <script type="text/javascript" src="/assets/vendor/js/<%=vendorScripts[i]%>"></script>
        <% } %>
        <script>
  	  require.config({
  	  baseUrl: '/assets/js'
		});
		require(["core/main"], function (main) {

		});
 	   </script>
    </head>
    <body>
        
    </body>
</html>