<!doctype html>
<html>
    <head>
        <% for(var i=-1; ++i<vendorScripts.length;) { %>
            <script type="text/javascript" data-main="assets/js/core/main" src="/assets/vendor/js/<%=vendorScripts[i]%>"></script>
        <% } %>
    </head>
    <body>
        
    </body>
</html>