<div class="rfWrapper rfChromed">
    <% if (showCaption && !error) { %>
        <div class="rfCaption">
            <span class="rfCaptionIconContainer"></span>
            <span class="rfCaptionText"><%= captionText %></span>
            <% if(typeof formComponent === 'undefined' || !formComponent) { %>
                <% if (!mobile) { %>
                    <span class="rfIcon rfMaximizeIcon"></span>
                <% } %>
            <% } %>
        </div>
    <% } %>
    <div class="rfHeader">
    </div>
    <div class="rfCore">

    </div>
    <div class="rfLock">
      <div class="rfLoadingText"></div>
      <div class="rfSpinner"></div>
    </div>
    <div class="rfFooter">
        <div class="componentKPI">
        </div>
    </div>
    <div class="rfError">
        <div class="rfErrorMessageText"></div>
    </div>
</div>
