<div class="devTools">
    <div class="devToolsInner">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">Logs</li>
            </ul>
            <div class="rfLogs">
                <div class="toolbar">
                    <input type="checkbox" id="all" checked>All</input>
                    <input type="checkbox" id="log" checked>Logs</input>
                    <input type="checkbox" id="warn" checked>Warnings</input>
                    <input type="checkbox" id="error" checked>Errors</input>
                    <input type="checkbox" id="server" checked>Server</input>
                    <input type="checkbox" id="client" checked>Client</input>
                </div>
                <ul class="rfLogList">
                    
                </ul>
            </div>
        </div>
    </div>  
</div>