<table class="rfTable">
    <tbody>
    <% for (var i = 0; i < data.length; i++) { var row = data[i]; var tCol = 0; %>

    <tr>
        <%
        for (var key in row) {
        var item = row[key];
        var sClass = styleClass[key]['style'];
        var style = "";
        if(cellStyle[key] && typeof cellStyle[key][i]["cellBackgroundColor"] !== "undefined" && typeof cellStyle[key][i]["cellTextColor"] !== "undefined") {
            style = "background-color:"+cellStyle[key][i]["cellBackgroundColor"]+"; color:"+cellStyle[key][i]["cellTextColor"]+";";
        }
        %>
        <td class="<%= sClass %>" data-id="<%= key %>" id="rfTableCell-<%= key %>-<%= i %>" style="<%= style %>">
            <p><% if(columns[key].dataType === 'icon') { %>
                <span class="rfIcon rfi-<%=item%>"></span>
                <% } else { %><%= item %><% } %></p>
        </td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
</table>

