<!-- <div class="col-md-4 col-sm-6 col-xs-12">
  <div class="team-avatar">
    <div class="avatar-wrapper">
      <img src="<perch:content id="avatar" type="file" label="Avatar" />">
    </div>
    <div class="info">
      <perch:content id="info" type="textarea" label="Short Info" markdown="true" />
      <perch:repeater id="url_links" label="Url Links" max="5">
      <perch:before>
      <hr>
      <ul class="team-icons">
      </perch:before>
        <li class="icon-wrapper"><div><a href="<perch:content id="link_url" type="text" label="Link URL" />"><i class="rf-icon colored <perch:content id="link_icon" type="select" label="Link Icon" options="Personal Site|rf_team_website, Github|rf_team_github, Twitter|rf_team_twitter, Dribble|rf_team_dribble, LinkedIn|rf_team_linkedin, Facebook|rf_team_facebook, KickStarter|rf_team_kickstarter, " />"></i></a></div></li>
      <perch:after>
      </ul>
      </perch:after>
      </perch:repeater>
    </div>
  </div>
    <h6><perch:content id="name" type="text" label="Name" /></h6>
    <p><perch:content id="designation" type="text" label="Designation" /></p>
</div>
 -->
<div class="col-xs-6 col-sm-6 col-md-4 col-sm-6 col-xs-12">
      <div class="team-avatar">
        <div class="avatar-wrapper">
          <img src="<perch:content id="avatar" type="file" label="Avatar" />">
        </div>
        <div class="info" style="display: none;">
          <perch:content id="info" type="textarea" label="Short Info" markdown="true" />
          <hr>


          <perch:repeater id="url_links" label="Url Links" max="5">
          <perch:before>
          <hr>
          <ul class="team-icons">
          </perch:before>
            <li class="icon-wrapper"><div><a href="<perch:content id="link_url" type="text" label="Link URL" />"><i class="rf-icon colored <perch:content id="link_icon" type="select" label="Link Icon" options="Personal Site|rf_team_website, Github|rf_team_github, Twitter|rf_team_twitter, Dribble|rf_team_dribble, LinkedIn|rf_team_linkedin, Facebook|rf_team_facebook, KickStarter|rf_team_kickstarter, " />"></i></a></div></li>
          <perch:after>
          </ul>
          </perch:after>
          </perch:repeater>
        </div>
      </div>
      <h6><perch:content id="name" type="text" label="Name" /></h6>
      <p><perch:content id="designation" type="text" label="Designation" /></p>
</div>